{% extends 'base.html.twig' %}

{% block body %}

<h1>ma documentation</h1>
<p>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi deleniti recusandae quam, esse nulla culpa sint numquam temporibus dolorum delectus dolor illo odit accusantium dolores eos ipsum quis amet reprehenderit!</p>
{% endblock %}