{% extends "::front.html.twig" %}

{% block title %}AppBundle:Front:index{% endblock %}

{% block body %}
<h1>Welcome to the Front:index page</h1>

<p>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, tempore numquam voluptate perspiciatis accusamus deserunt culpa ex atque molestiae doloremque non, expedita nemo illo! Vel at, quas debitis laboriosam ullam et amet beatae repellat quaerat pariatur cumque maiores itaque fuga earum eveniet enim voluptatem aperiam voluptatum modi cupiditate officia soluta id quo veritatis? Perspiciatis enim eos odio officia reiciendis! Soluta voluptate tempore fuga sint atque. Illum neque tenetur esse, debitis voluptates ea sapiente a. Delectus quidem iure earum magnam placeat quaerat architecto debitis mollitia veniam, ipsa natus maxime esse culpa dolore ea consectetur. Ratione quasi ex dolorum ut minus officiis error non. Culpa ex eius, accusamus consequuntur tempora, delectus natus ratione beatae aliquid itaque distinctio aliquam eveniet omnis nisi nesciunt hic molestias modi provident quo dolorem labore? Perferendis praesentium labore, mollitia vitae tenetur velit suscipit? Molestias non necessitatibus nulla dolore dolores ea id dolor perspiciatis ducimus! Nisi ab ad similique iusto sequi praesentium cupiditate dolorem molestias veritatis iure et dicta deleniti provident eum, architecto sint fugit nulla labore magni blanditiis quas? Eius animi quibusdam deleniti repudiandae maxime laudantium provident! Non, autem provident nostrum, est numquam totam quaerat ad repudiandae hic molestias adipisci pariatur laboriosam odio aliquid maxime sit! Nam, voluptates!
</p>
{% endblock %}
